*{
box-sizing:border-box;
-moz-box-sizing:border-box;
font-family:sans-serif;
-user-select:none;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
}
#toolbar{
position:fixed;
top:0;
height:60px;
padding:10px;
width:100%;
background-color:#2f2f2f;
color:white;
}
.radcontrol{
width:40px;
height:40px;
text-align:center;
background-color:#4f4f4f;
padding:10px;
display:inline-block;
}